<h2>About Developers Interview Questions</h2>

<p>The dev question-answers website was created for new developers as users to review questions in preparation of their interviews. Where necessary, they do have the option to also include their own answers and even update the questions! </p>
