<div class= "container">
  <header class= "jumbotron">
    <h1>Interview Questions & Answers</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}About Us!{{/link-to}}
  </footer>
</div>
