<h1> Welcome to Developer Interview Practice Questions! </h1>

<p>We hope this selection of questions are robust enough to get you ready to ace your developer interviews.</p>

<ul>
  {{#each model as |question|}}
    {{question-tile question = question deleteQuestion="deleteQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
