<h1> Welcome to Developer Interview Practice Questions! </h1>

<p>We hope this selection of questions are robust enough to get you ready to ace your developer interviews.</p>

<ul>
  {{#each model as |question|}}
     <li>{{question.question}} by {{question.author}} from the {{question.notes}} language. click here for answers: {{question.answers}}</li>
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
